<div class="chat-sidebar" [class.sidebar-collapsed]="!sidebarOpen">
  <div class="chat-sidebar-header">
    <h2 *ngIf="sidebarOpen">Chat history</h2>
    <button mat-icon-button aria-label="Toggle sidebar" (click)="toggleSidebar()">
      <img *ngIf="sidebarOpen" src="images/closeplaybutton.png" alt="Close Sidebar" class="icons" />
      <img *ngIf="!sidebarOpen" src="images/playbutton.png" alt="Open Sidebar" class="icons" />
    </button>
  </div>

  <!-- <div *ngIf="isLoading && sidebarOpen" class="loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div> -->

  <div *ngIf="error && sidebarOpen" class="error">
    {{ error }}
  </div>

  <div class="chat-groups" *ngIf="sidebarOpen && !isLoading && !error">
    <div *ngFor="let group of chatGroups; let i = index" class="chat-group">
      <div class="group-title">{{ group.title }}</div>
      
      <mat-list>
        <mat-list-item *ngFor="let conversation of group.conversations; let convIndex = index" class="chat-message">
          <div class="conversation-title">{{ conversation.conversation_title }}</div>
          <mat-icon class="delete-icon" (click)="deleteConversation(i, convIndex)">delete</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>