<div class="app-container">
  <app-sidebar class="sidebar"></app-sidebar>
  
  <div class="content-area">
    <mat-toolbar color="transparent" class="toolbar">
      <img src="/images/logo.png" alt="Mohawk Medbuy Logo" class="logo" />
      <div class="spacer"></div>
      <div class="signin">
       
        <button mat-raised-button class="button">
          <img src="/images/newchat.png" alt="New Chat" class="icon" />
          New Chat
        </button>
        <button mat-raised-button class="button">
          <img src="/images/history.png" alt="History" class="icon" />
          History
        </button>
    
      </div>
    </mat-toolbar>

    <div class="chat-container">
      <div class="messages-container">
        <app-chatmessage 
          *ngFor="let message of messages"
          [message]="message">
        </app-chatmessage>
      </div>
      
      <app-chat-input 
        (send)="sendMessage()"
        [control]="messageControl">
      </app-chat-input>
    </div>


  </div>
</div>