.input-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.chat-input {
  width: 100%;
  max-width: 700px;
}

::ng-deep .chat-input .mat-mdc-text-field-wrapper {
  padding-left: 30px !important;
  padding-right: 20px !important;
  background: white !important;
  min-height: 60px;
  align-items: center;
  display: flex;
  border-radius: 28px !important;
}

::ng-deep .chat-input .mat-mdc-form-field-infix {
  padding: 0 !important;
}

::ng-deep .chat-input .mat-mdc-input-element {
  font-family: "General Sans", "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  padding: 0px 0 !important;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
  white-space: pre-wrap;
}