<div class="input-container">
  <mat-form-field appearance="outline" class="chat-input">
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="6"
      placeholder="What do you want to know?"
      [formControl]="control"
      (keydown.enter)="onSend()"
    ></textarea>

    <span matSuffix>
      <button mat-icon-button>
        <mat-icon>mic</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onSend()">
        <mat-icon>send</mat-icon>
      </button>
    </span>
  </mat-form-field>
</div>