<div *ngIf="visible" class="sql-modal-overlay" (click)="onClose()">
  <div class="sql-modal-content" (click)="$event.stopPropagation()">
    <mat-toolbar color="primary" class="modal-header">
      <span>SQL Query</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <div class="sql-content">
      <pre *ngIf="sqlQuery; else noQuery">{{ sqlQuery }}</pre>
      <ng-template #noQuery>
        <p class="no-query-message">No SQL query available for this response.</p>
      </ng-template>
    </div>

    <mat-toolbar class="modal-footer">
      <button *ngIf="sqlQuery" mat-raised-button color="primary" (click)="onCopy()">
        <mat-icon>content_copy</mat-icon> Copy SQL
      </button>
      <button mat-button (click)="onClose()">Close</button>
    </mat-toolbar>
  </div>
</div>