<div class="main" [class.blur]="loading">
  <div class="left-section">
    <button class="go-back-button" > 
          <img src="/images/leftarrow.png" alt="Back" class="icon" />
        Go Back</button>
    <div class="maincontent"><br>Delivering value,<br> innovation & insight to <br>Canadian health care.
    </div>
</div>
  <div class="right-section">
    <div class="toplogo">
      <img class="mohawklogo" src="/images/logo.png" alt="logo">
    </div>
    <div class="main-content">
      <div class="formcard">
        <p class="heading">SIGNIN</p>
        <span class="subheading">Welcome to Mohawk Medbuy AI</span>
        <form [formGroup]="signinForm" class="signinForm">
          <div class="detail">
            <!-- <mat-label>Email</mat-label> -->
            <mat-form-field appearance="outline">
              <input
                type="email"
                formControlName="email"
                matInput
                placeholder="Email"
              />
              <!-- <mat-error *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.errors?.['required']">
Please enter an email.
</mat-error>
<mat-error *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.errors?.['pattern']">
Enter a valid email address.
</mat-error> -->
            </mat-form-field>
            <div class="errormessage">
              <mat-error
                *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.errors?.['required']"
              >
                Please enter an email.
              </mat-error>
              <mat-error
                *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.errors?.['pattern']"
              >
                Enter a valid email address.
              </mat-error>
            </div>
          </div>
          <div class="detail">
            <!-- <mat-label>Password</mat-label> -->
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="password"
                placeholder="Password"
                [type]="hide() ? 'password' : 'text'"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-pressed]="hide()"
                style="margin-right: 20px"
              >
                <mat-icon style="color: #424242c2">{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <!-- <mat-error *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.errors?.['required']">
Please enter a password.
</mat-error>
<mat-error *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.errors?.['minlength']">
Password must be at least 8 characters long.
</mat-error>
<mat-error *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.errors?.['pattern']">
Password must include one letter, one number, and one special character.
</mat-error> -->
            </mat-form-field>
            <div class="errormessage">
              <mat-error
                *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.errors?.['required']"
              >
                Please enter a password.
              </mat-error>
              <mat-error
                *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.errors?.['minlength']"
              >
                Password must be at least 8 characters long.
              </mat-error>
              <mat-error
                *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.errors?.['pattern']"
              >
                Password must include one letter, one number, and one special
                character.
              </mat-error>
            </div>
          </div>
          <div class="checks">
            <mat-checkbox formControlName="rememberMe" class="example-margin"
              >Remember Me?</mat-checkbox
            >
          </div>
          <button type="submit" (click)="onSubmit()" class="loginbutton">
            SIGNIN
          </button>
          <div class="forgot-password" (click)="onForgotPassword()">
            Forgot Password?
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50"
  ></mat-progress-spinner>
</div>
